.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stockList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.stockListItem {
  padding: 20px 14px;
}

.green {
  color: lightgreen;
}

.red {
  color: lightcoral;
}
